[submodule "3rd-party/qt-solutions"]
	path = 3rd-party/qt-solutions
	url = https://github.com/qtproject/qt-solutions.git
[submodule "3rd-party/qwt"]
	path = 3rd-party/qwt
	url = https://github.com/opencor/qwt.git
